Emapper/Resources/Documentation/DASTA 4.18.03/xsd/historie/ds_cisidu-4.01.08.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="urn:cz-mzcr:ns:dasta:ds4:ds_cisidu" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsiduCis="urn:cz-mzcr:ns:dasta:ds4:ds_cisidu">
    <xs:simpleType name="uhradyType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[345679]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>

 <xs:simpleType name="lpz1-2Type">
    <xs:restriction base="xs:integer">
        <xs:pattern value="[1-2]"/>
    </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="lpz1-3Type">
    <xs:restriction base="xs:integer">
        <xs:pattern value="[1-3]"/>
    </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="lpz1-6Type">
    <xs:restriction base="xs:integer">
        <xs:pattern value="[1-6]"/>
    </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="lpz1-8Type">
    <xs:restriction base="xs:integer">
        <xs:pattern value="[1-8]"/>
    </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="lpz1-7Type">
    <xs:restriction base="xs:integer">
        <xs:pattern value="[1-7]"/>
    </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="lpz0-9Type">
    <xs:restriction base="xs:integer">
        <xs:pattern value="[0-9]"/>
    </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="lpz0-43Type">
     <xs:restriction base="xs:integer">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="43"/>
     </xs:restriction>
 </xs:simpleType>
</xs:schema>
