Emapper/Resources/Documentation/DASTA 4.18.03/xsd/historie/nrc-4.01.01.xsd

<?xml version="1.0" encoding="windows-1250"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="_nrcver">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="VETA" typ="_nrcverVetaType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attributeGroup ref="DScisAttrGroup" />
	</xs:complexType>
</xs:element>

<xs:element name="agodb">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="VETA" typ="agodbVetaType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attributeGroup ref="DScisAttrGroup" />
	</xs:complexType>
</xs:element>

<xs:element name="agodbodb">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="VETA" typ="agodbodbVetaType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attributeGroup ref="DScisAttrGroup" />
	</xs:complexType>
</xs:element>

<xs:element name="aneste">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="VETA" typ="anesteVetaType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attributeGroup ref="DScisAttrGroup" />
	</xs:complexType>
</xs:element>

<xs:element name="drggrp">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="VETA" typ="drggrpVetaType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attributeGroup ref="DScisAttrGroup" />
	</xs:complexType>
</xs:element>

<xs:element name="druhns">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="VETA" typ="druhnsVetaType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attributeGroup ref="DScisAttrGroup" />
	</xs:complexType>
</xs:element>

<xs:element name="druhuctu">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="VETA" typ="druhuctuVetaType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attributeGroup ref="DScisAttrGroup" />
	</xs:complexType>
</xs:element>

<xs:element name="chyby">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="VETA" typ="chybyVetaType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attributeGroup ref="DScisAttrGroup" />
	</xs:complexType>
</xs:element>

<xs:element name="korinfo">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="VETA" typ="korinfoVetaType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attributeGroup ref="DScisAttrGroup" />
	</xs:complexType>
</xs:element>

<xs:element name="korvyj">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="VETA" typ="korvyjVetaType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attributeGroup ref="DScisAttrGroup" />
	</xs:complexType>
</xs:element>

<xs:element name="kritpol">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="VETA" typ="kritpolVetaType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attributeGroup ref="DScisAttrGroup" />
	</xs:complexType>
</xs:element>

<xs:element name="vahy">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="VETA" typ="vahyVetaType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attributeGroup ref="DScisAttrGroup" />
	</xs:complexType>
</xs:element>

<xs:attributeGroup name="DScisAttrGroup">
	<xs:attribute name="dat_gen" type="datetype" use="required" />
	<xs:attribute name="cas_gen" type="timetype" use="required" />
	<xs:attribute name="ver_nclp" type="str8type" use="required" />
	<xs:attribute name="ver_ds" type="str8type" use="required" />
	<xs:attribute name="uzivatel" type="str50type" use="optional" />
	<xs:attribute name="ver_nrc" type="str8type" use="required" />
</xs:attributeGroup>

<xs:complexType name="_nrcverVetaType">
	<xs:sequence>
		<xs:attribute name="JM_PROG" type="str8type" use="required" />
		<xs:attribute name="LIC_C" type="str10type" use="optional" />
		<xs:attribute name="VER_PROG" type="str8type" use="optional" />
		<xs:attribute name="VER_NCLP" type="str8type" use="required" />
		<xs:attribute name="DAT_GEN" type="datetype" use="required" />
		<xs:attribute name="CAS_GEN" type="timetype" use="required" />
		<xs:attribute name="KOD_CES" type="str6type" use="required" />
		<xs:attribute name="XSD" type="str70type" use="optional" />
	</xs:sequence>
</xs:complexType>

<xs:complexType name="agodbVetaType">
	<xs:sequence>
		<xs:attribute name="KOD" type="str14type" use="required" />
	</xs:sequence>
</xs:complexType>

<xs:complexType name="agodbodbVetaType">
	<xs:sequence>
		<xs:attribute name="AGREGODB" type="str14type" use="required" />
		<xs:attribute name="ODB" type="str3type" use="optional" />
	</xs:sequence>
</xs:complexType>

<xs:complexType name="anesteVetaType">
	<xs:sequence>
		<xs:attribute name="KOD" type="str5type" use="required" />
		<xs:attribute name="CAS" type="inttype" use="optional" />
	</xs:sequence>
</xs:complexType>

<xs:complexType name="drggrpVetaType">
	<xs:sequence>
		<xs:attribute name="KOD" type="str5type" use="required" />
		<xs:attribute name="NAZ" type="str200type" use="optional" />
	</xs:sequence>
</xs:complexType>

<xs:complexType name="druhnsVetaType">
	<xs:sequence>
		<xs:attribute name="KOD" type="str2type" use="required" />
		<xs:attribute name="NAZ" type="str120type" use="optional" />
	</xs:sequence>
</xs:complexType>

<xs:complexType name="druhuctuVetaType">
	<xs:sequence>
		<xs:attribute name="KOD" type="str2type" use="required" />
		<xs:attribute name="NAZ" type="str120type" use="optional" />
	</xs:sequence>
</xs:complexType>

<xs:complexType name="chybyVetaType">
	<xs:sequence>
		<xs:attribute name="KOD" type="str4type" use="required" />
		<xs:attribute name="NAZ" type="str120type" use="optional" />
	</xs:sequence>
</xs:complexType>

<xs:complexType name="korinfoVetaType">
	<xs:sequence>
		<xs:attribute name="KOD" type="str14type" use="required" />
		<xs:attribute name="NAZ" type="str120type" use="optional" />
	</xs:sequence>
</xs:complexType>

<xs:complexType name="korvyjVetaType">
	<xs:sequence>
		<xs:attribute name="KOD" type="str4type" use="required" />
		<xs:attribute name="NAZ" type="str120type" use="optional" />
	</xs:sequence>
</xs:complexType>

<xs:complexType name="kritpolVetaType">
	<xs:sequence>
		<xs:attribute name="KOD" type="str5type" use="required" />
	</xs:sequence>
</xs:complexType>

<xs:complexType name="vahyVetaType">
	<xs:sequence>
		<xs:attribute name="DRG" type="str5type" use="required" />
		<xs:attribute name="VAHA" type="dec8-5type" use="optional" />
		<xs:attribute name="ALOS" type="dec8-2type" use="optional" />
		<xs:attribute name="LTP" type="dec9-0type" use="optional" />
		<xs:attribute name="HTP" type="dec9-0type" use="optional" />
		<xs:attribute name="PLATI_OD" type="datetype" use="optional" />
		<xs:attribute name="PLATI_DO" type="datetype" use="optional" />
	</xs:sequence>
</xs:complexType>

<xs:simpleType name="datetype">
	<xs:restriction base="xs:date">
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="dec8-2type">
	<xs:restriction base="xs:decimal">
		<xs:totalDigits value="8" />
		<xs:fractionDigits value="2" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="dec8-5type">
	<xs:restriction base="xs:decimal">
		<xs:totalDigits value="8" />
		<xs:fractionDigits value="5" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="dec9-0type">
	<xs:restriction base="xs:decimal">
		<xs:totalDigits value="9" />
		<xs:fractionDigits value="0" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="str1type">
	<xs:restriction base="xs:string">
		<xs:minLength value="1" />
		<xs:maxLength value="1" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="str2type">
	<xs:restriction base="xs:string">
		<xs:minLength value="1" />
		<xs:maxLength value="2" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="str3type">
	<xs:restriction base="xs:string">
		<xs:minLength value="1" />
		<xs:maxLength value="3" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="str4type">
	<xs:restriction base="xs:string">
		<xs:minLength value="1" />
		<xs:maxLength value="4" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="str5type">
	<xs:restriction base="xs:string">
		<xs:minLength value="1" />
		<xs:maxLength value="5" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="str6type">
	<xs:restriction base="xs:string">
		<xs:minLength value="1" />
		<xs:maxLength value="6" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="str8type">
	<xs:restriction base="xs:string">
		<xs:minLength value="1" />
		<xs:maxLength value="8" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="str10type">
	<xs:restriction base="xs:string">
		<xs:minLength value="1" />
		<xs:maxLength value="10" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="str14type">
	<xs:restriction base="xs:string">
		<xs:minLength value="1" />
		<xs:maxLength value="14" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="str20type">
	<xs:restriction base="xs:string">
		<xs:minLength value="1" />
		<xs:maxLength value="20" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="str50type">
	<xs:restriction base="xs:string">
		<xs:minLength value="1" />
		<xs:maxLength value="50" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="str55type">
	<xs:restriction base="xs:string">
		<xs:minLength value="1" />
		<xs:maxLength value="55" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="str70type">
	<xs:restriction base="xs:string">
		<xs:minLength value="1" />
		<xs:maxLength value="70" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="str120type">
	<xs:restriction base="xs:string">
		<xs:minLength value="1" />
		<xs:maxLength value="120" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="str200type">
	<xs:restriction base="xs:string">
		<xs:minLength value="1" />
		<xs:maxLength value="200" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="str240type">
	<xs:restriction base="xs:string">
		<xs:minLength value="1" />
		<xs:maxLength value="240" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="inttype">
	<xs:restriction base="xs:positiveInteger">
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="timetype">
	<xs:restriction base="xs:time">
	</xs:restriction>
</xs:simpleType>
</xs:schema>